@import 'bootstrap';

*{
	font-family: Lato;
}

/* CSS used here will be applied after bootstrap.css */
/* .carouselCustom {
	margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
} */






/* CSS FOR NAVBAR  */

.carousel-item {
	margin-top: 74px;
	height: 35vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 100px;
	
}

.carousel-caption h5 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: start;
}

.carousel-caption p {
	width: 75%;
	font-size: 15px;
	line-height: 1.5;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-toggler {
	background: #fff;
}

.navbar-nav {
	text-align: center;
}

.nav-link {
	padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
	color: #fff;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}



/* BUTTON WELCOME PAGE*/


.link-area
{
position: absolute;
top: 30vh;
left: 12vw;  
}

.frame {
	margin: 0px auto;
}

button {
	margin: 20px;
}

.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: rgb(251,33,117);
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.btn-11 {
	border: none;
	background: rgb(251,33,117);
	background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
	color: #fff;
	overflow: hidden;
}
.btn-11:hover {
	text-decoration: none;
	color: #fff;
}
.btn-11:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -180px;
	left: 0;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
	opacity: .7;
}
.btn-11:active{
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
	-4px -4px 6px 0 rgba(116, 125, 136, .2), 
	inset -4px -4px 6px 0 rgba(255,255,255,.2),
	inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
	0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
	80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
	81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
	100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@keyframes shiny-btn1 {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}


/* NAVBAR  */

.custom{
	background-color: none !important;
}

ol{
	list-style: none !important;
}

#carouselExampleIndicators{
	margin-bottom: 10vh;
}

.hover:hover{
	color: red !important;
}

.colorCustom{
	color: rgb(251,33,117);
}

/* GENERIC  */

.marginCustom{
	margin-top: 10vh;
}

.colorBtn{
	background-color: transparent;
	color: rgb(251,33,117);
	border: 1px solid rgb(251,33,117);
}

.colorBtn:hover{
	background-color: rgb(251,33,117);
	color: white;
}

.colorBtn2{
	background-color: rgb(251,33,117);
	color: white;
}
.colorBtn2:hover{
	background-color: transparent;
	color: rgb(251,33,117);
	border: 1px solid rgb(251,33,117);
}


.Indietro:hover{

	color:#212529 !important;
	background-color: transparent !important;
	border: 1px solid #212529 !important;
}

/* .searchInput{
	
} */



/* FOOTER ICONS */

.fsCustom{
	font-size: 35px;
}

/* .capitalize{
	text-transform: capitalize;
} */

