@import 'bootstrap';
@import 'bootstrap-icons';

/* LAPTOP PC & NEXT HUB MAX Media Query  */

*{
	font-family: Lato;
}

.carousel-control-prev-revisor{
	position: absolute;
	font-size: 100px;
	color: black;
	top: 200px;
	left: -65px;
	z-index: 1;
	background-color: transparent;
	border: none;
}

.carousel-control-next-revisor{
	position: absolute;
	font-size: 100px;
	color: black;
	top: 200px;
	right: 40px;
	z-index: 1;
	background-color: transparent;
	border: none;
}

.carousel-control-prev-show{
	position: absolute;
	top: 310px;
	background-color: transparent;
	z-index: 1;
	border: none;
	left: -10px;
}

.carousel-control-next-show{
	position: absolute;
	top: 310px;
	background-color: transparent;
	z-index: 1;
	border: none;
	right: -10px;
}

															/* CSS FOR NAVBAR  */

li{
	list-style: none;
}

nav{
	opacity: 0.94 !important;
}

.carousel-item {
	margin-top: 85px;
	height: 50vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slideCarousel{
	height: 50vh;
}

.carousel-caption {
	top: 0px;	
}

.carousel-caption h5 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: start;
}

.carousel-caption p {
	width: 75%;
	font-size: 15px;
	line-height: 1.5;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-toggler {
	background: #fff;
}

.navbar-nav {
	text-align: center;
}

.nav-link {
	padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
	color: #fff;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.badgePosition{
	top: 5px;
	right: 10px;
}

.hover:hover{
	color: red !important;
}

.colorCustom{
	color: rgb(251,33,117);
}

.btnAnnulla{
	background-color: rgba(218, 165, 32, 0.582);
}

.btnAnnulla:hover{
	background-color: rgb(243, 220, 9);
}

.marginDropdown{
	margin-top: 2rem;
}

.paddingDropdown{
	padding-top: 2rem;
	padding-bottom: 2rem;
}


													/* CARD CATEGORY PER WELCOME  */


.card-container {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	width: 200px;
	overflow: hidden;
}

.card-header {
	padding: 10px;
	background-color: #232f3e;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1px;
	width: 100%;
    height: 200px;
}

.card-grid img {
	width: 100%;
	height: 100px;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.card-grid img:hover {
	transform: scale(1.05);
}

.card-footer {
	text-align: center;
	padding: 10px;
	background-color: #f3f3f3;
	font-size: 16px;
	font-weight: bold;
	color: #007185;
}

.card-footer a {
	text-decoration: none;
	color: #007185;
}

.card-footer a:hover {
	text-decoration: underline;
}

/* preview delle immagini */

.img-preview {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	
}

															/* BUTTON WELCOME PAGE*/


.link-area
{
	position: absolute;
	top: 35vh;
	left: 12vw;  
}

.frame {
	margin: 0px auto;
}

button {
	margin: 20px;
}

.custom-btn {
	width: 200px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: rgb(251,33,117);
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.btn-11 {
	border: none;
	background: rgb(251,33,117);
	background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
	color: #fff;
	overflow: hidden;
}
.btn-11:hover {
	text-decoration: none;
	color: #fff;
}
.btn-11:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -180px;
	left: 0px;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
	opacity: .7;
}
.btn-11:active{
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
	-4px -4px 6px 0 rgba(116, 125, 136, .2), 
	inset -4px -4px 6px 0 rgba(255,255,255,.2),
	inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
	0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
	80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
	81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
	100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@keyframes shiny-btn1 {
	0% { transform: scale(0) rotate(45deg); opacity: 0; }
	80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
	81% { transform: scale(4) rotate(45deg); opacity: 1; }
	100% { transform: scale(50) rotate(45deg); opacity: 0; }
}


																/* DROP BUTTON PROFILE  */

.dropbtn {
	background-color: transparent;
	color: white;
	border: none;
	width: 120px;
	padding-right: 15px;
}

.dropdown {
	color: black;
	position: relative;
	display: inline-block;
	width: 150px;
	border-radius: 10px 10px 10px 10px;
	z-index: 1;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1d1f22d8;
	min-width: 150px;
	z-index: 1;
	border-radius: 0px 0px 14px 14px;
	box-shadow: 0px -20px 20px rgba(251, 33, 116, 0.306);
}

.dropdown-content a {
	color: white;
	padding: 12px 0px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
	margin: 5px;
}

.dropdown-content a:hover {
	background-color: #797996;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #222228;
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
}

.dropdown-content button {
	padding: 12px 50px;
	display: block;
	border: none;
	border-radius: 10px;
	margin: 5px;
}

.dropdown-content button:hover {
	background-color: white !important;
	color: rgba(251, 33, 116, 0.706) !important;
	border: 1px solid rgba(251, 33, 116, 0.706);
}

.dropdownLang{
	color: black;
	margin-left: 30px;
	position: relative;
	display: inline-block;
	width: 70px;
	border-radius: 10px 10px 10px 10px;
	z-index: 1;
}

.dropdown-content-lang {
	display: none;
	text-align: center;
	padding: 10px 5px;
	position: absolute;
	background-color: #1d1f22d8;
	min-width: 50px;
	z-index: 1;
	border-radius: 0px 0px 14px 14px;
}

.dropdownLang:hover .dropdown-content-lang {
	display: flex;
	flex-direction: column;
}

																/* GENERIC  */

.marginCustom{
	margin-top: 10vh;
}

.colorBtn{
	background-color: transparent !important;
	color: rgb(251,33,117) !important;
	border: 1px solid rgb(251,33,117) !important;
}

.colorIconFooter{
	background-color: transparent !important;
	color: rgb(251,33,117) !important;
}

.colorBtn:hover{
	background-color: rgb(251,33,117) !important;
	color: white !important;
}

.colorBtn2{
	background-color: rgb(251,33,117);
	color: white;
}
.colorBtn2:hover{
	background-color: transparent;
	color: rgb(251,33,117);
}


.Indietro:hover{
	
	color:#212529 !important;
	background-color: transparent !important;
	border: 1px solid #212529 !important;
}

/* FOOTER ICONS */

.fsCustom{
	font-size: 35px;
}

/* SCOLL  */

#scrollToTop:hover{
	cursor: pointer;
}

@media screen and (max-width: 767px) {
/* Iphone 14 Pro Max */

	nav{
		width: 100vw !important;
	}

	.smallResponsive{
		font-size: 13px;
	}

	.dropdown-content{
		left: -20px;
		margin-right: 25px;
		min-width: 130px;
		max-height: 100px;
	}

	.badgePosition{
		top: 5px;
		right: 0px;
	}

	.dropdown-content button {
		padding: 12px 41px;
	}

	.dropdown-content{
		max-height: 280px;
		background-color: #1d1f22;
		backdrop-filter: blur(30px);
		overflow-y: scroll;
	}

	.carousel-item {
		margin-top: 145px;
	}

	.carousel-control-next-icon{
		position: absolute;
		top: 25vh;
	}

	.carousel-control-prev-icon{
		position: absolute;
		top: 25vh;
	}
	
	.slideCarousel{
		height: 20vh;
	}
	
	.carousel-caption {
		top: 150px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.carousel-caption h5 {
		color: black !important;
	}
	
	.carousel-caption p {
		width: 100%;
		font-size: 12px;
		color: black !important;
	}

	.link-area{
	top: 54vh;
	left: 50%;
	transform: translateX(-50%);  
	}
	
	.sizeIconFooter{
		font-size: 20px;
		margin-left: 10px;
		padding: 2px !important;
	}

	.columnDisplay{
		flex-direction: column !important;
	}

	.centered{
		display: flex;
		justify-content: center;
	}

												/* BYCategory  */
	
	.marginTop{
		margin-top: 10vh;
	}
	
													/* SHOW  */

	.carousel-control-prev-show{
		position: absolute;
		top: 310px;
		background-color: transparent;
		z-index: 1;
		border: none;
		left: -10px;
	}

	.carousel-control-next-show{
		position: absolute;
		top: 310px;
		background-color: transparent;
		z-index: 1;
		border: none;
		right: -10px;
	}

}

@media screen and (min-width: 767px) and (max-width: 1023px) {
	/* IPad Mini & IPad Air & Surface Pro 7 */

	nav{
		width: 100vw !important;
	}

	.smallResponsive{
		font-size: 13px;
	}

	.dropdown-content{
		left: -20px;
		margin-right: 25px;
		min-width: 120px;
		max-height: 100px;
	}

	.badgePosition{
		top: 5px;
		right: 3px;
	}

	.dropdown-content button {
		padding: 12px 36px;
	}

	.dropdown-content{
		max-height: 280px;
		background-color: #1d1f22;
		overflow-y: scroll;
	}

	.marginDropdown{
		margin-top: 0rem;
	}

	.carousel-item {
		margin-top: 148px;
	}

	.carousel-control-next-icon{
		position: absolute;
		top: 28vh;
	}

	.carousel-control-prev-icon{
		position: absolute;
		top: 28vh;
	}
	
	.slideCarousel{
		height: 30vh;
	}
	
	.carousel-caption {
		top: 33vh;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.carousel-caption h5 {
		letter-spacing: 2px;
		color: black !important;
		text-align: center;
	}
	
	.carousel-caption p {
		width: 100%;
		justify-content: center !important;
		color: black !important;
	}

	.link-area{
		top: 58vh;
		left: 50%;
		transform: translateX(-50%);
	}

	.columnDisplay{
		flex-direction: column !important;
	}

	.centered{
		display: flex;
		justify-content: center;
		margin-bottom: 2vh;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
/* IPad Pro != NEXT HUB  */

	.customLogo{
		padding-right: 0px !important;
	}

	.customWidth{
		width: 15%;
	}

	.customCard{
		margin-right: 30px;
	}

	.dropdown-content{
		left: -20px;
		margin-right: 25px;
		min-width: 120px;
	}

	.carousel-item {
		height: 35vh;
		margin-top: 88px;
	}

	.slideCarousel{
		height: 30vh;
	}
	
	.carousel-caption h5 {
		color: black !important;
	}
	
	.carousel-caption p {
		color: black !important;
	}

	.link-area{
		top: 27vh;
		left: 25%;
		transform: translateX(-50%);
	}

	.carousel-control-next-icon{
		position: absolute;
		top: 20vh;
	}

	.carousel-control-prev-icon{
		position: absolute;
		top: 20vh;
	}

}